In [29]:
import pandas as pd
import numpy as np

In [30]:
train = pd.read_csv('train_data.csv', index_col=0)
train = train.reset_index()
y = train['poi']
y

0       True
1       True
2       True
3       True
4       True
       ...
108    False
109    False
110    False
111    False
112    False
Name: poi, Length: 113, dtype: bool

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, GridSearchCV, RandomizedSearchCV
from sklearn.svm import SVC
import eli5
from eli5.sklearn import PermutationImportance

file_list = ['丟棄過低、中離散化、高補0+全MM.csv', '丟棄過低、中離散化、高補0標準化.csv',
             '丟棄過低+全補0不動.csv', '全補0+bool+log+MM.csv', '全離群化.csv']
score = dict()

In [32]:
X = pd.read_csv('丟棄過低、中離散化、高補0+全MM.csv', index_col=0)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

rfc = RandomForestClassifier(random_state=0)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)

print('丟棄過低、中離散化、高補0+全MM.csv')
print('CV: ', np.mean(cross_val_score(rfc, X_train, y_train)))
print('Accuracy: ', metrics.accuracy_score(y_pred, y_test))

score['丟棄過低、中離散化、高補0+全MM.csv'] = metrics.accuracy_score(y_pred, y_test)

丟棄過低、中離散化、高補0+全MM.csv
CV:  0.9404411764705882
Accuracy:  0.8275862068965517

In [33]:
test = pd.read_csv('test_丟棄過低、中離散化、高補0+MM.csv', index_col=0)
test.head(5)

,name,bonus,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,long_term_incentive,other,restricted_stock,...,to_messages,total_payments,total_stock_value,bonus_ratio,expenses_ratio,other_ratio,salary_ratio,to_poi_ratio,from_poi_ratio,stock_to_salary
0,BELDEN TIMOTHY N,1.00,0.703941,0.25,1.00,1.00,1.00,0.00,0.75,0.640476,...,1.00,0.793821,0.699884,1.00,0.25,0.75,0.25,0.50,0.50,0.50
1,BOWEN JR RAYMOND M,0.75,0.000000,0.75,0.50,1.00,0.75,0.75,0.25,0.665617,...,0.75,0.756836,0.625318,0.50,0.50,0.25,0.50,1.00,1.00,0.25
2,HANNON KEVIN P,0.75,0.793912,0.25,0.75,0.50,0.75,1.00,0.50,0.730865,...,0.50,0.643068,0.787865,1.00,1.00,0.75,1.00,0.75,1.00,1.00
3,DELAINEY DAVID W,1.00,0.748785,0.75,1.00,1.00,1.00,1.00,0.50,0.754355,...,1.00,0.786285,0.759206,0.75,0.25,0.25,0.25,0.50,0.50,0.75
4,CAUSEY RICHARD A,0.50,0.000000,0.25,0.75,0.75,0.50,0.25,0.75,0.788451,...,0.75,0.738594,0.740715,0.50,0.25,0.75,0.75,0.75,0.75,0.50

In [34]:
name = test['name']
test.drop('name', axis=1, inplace=True)

In [35]:
test_pred = rfc.predict_proba(test)[:,1]
sub = pd.DataFrame({'name': name, 'poi': test_pred})
sub

                    name   poi
0       BELDEN TIMOTHY N  0.17
1     BOWEN JR RAYMOND M  0.31
2         HANNON KEVIN P  0.20
3       DELAINEY DAVID W  0.08
4       CAUSEY RICHARD A  0.21
5       HICKERSON GARY J  0.09
6         FREVERT MARK A  0.07
7            CHAN RONNIE  0.00
8   DONAHUE JR JEFFREY M  0.26
9      REYNOLDS LAWRENCE  0.05
10      HORTON STANLEY C  0.00
11         LEWIS RICHARD  0.00
12    SHERRICK JEFFREY B  0.04
13        MEYER JEROME J  0.00
14   DERRICK JR. JAMES V  0.12
15              PIRO JIM  0.00
16   DETMERING TIMOTHY J  0.01
17     KISHKILL JOSEPH G  0.11
18        BAY FRANKLIN R  0.05
19        PRENTICE JAMES  0.00
20                 TOTAL  0.76
21        FALLON JAMES B  0.18
22            METTS MARK  0.06
23         WODRASKA JOHN  0.03
24   MORDAUNT KRISTINA M  0.03
25      CARTER REBECCA C  0.06
26      BHATNAGAR SANJAY  0.02
27      WALTERS GARETH W  0.00
28       BIBI PHILIPPE A  0.04
29       SHERRIFF JOHN R  0.05
30          GIBBS DANA R  0.00
31        LINDHOLM TOD A  0.02
32       MCMAHON JEFFREY  0.35

In [37]:
sub.to_csv('basic_submission.csv', index=False)